*{
    margin: 0;
}
.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: rgb(85, 84, 83);
    height: 100vh;
}

.inner{
    background-color: rgb(58, 48, 48);
    border: 2px solid rgb(66, 61, 61);

    border-radius: 15px;
    padding: 20px;
}

.screen{
    border: 2px solid black;
    border-radius: 15px;
    color: rgb(172, 161, 161);

    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 12px;
    flex-wrap:wrap;
}

.display-operations{
    height: 32px;
    font-size: 20px;
}

.display-result{
    height: 64px;
    font-size: 40px;
}

.buttons-grid{
    padding: 15px;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.span-2 {
    grid-column: span 2;
  }

button{
    padding: 25px;
    font-size: 18px;
    background-color:rgb(91, 69, 69) ;
    color: rgb(172, 161, 161);
    
}
